.card__heading {
  color: #AAA;
  max-width: 456px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: .2em; /*Dear reviewer, I took out all of the 0s on the left side of the . but for some reason those small changes are not getting noticed and sent to github.  Sorry*/
  margin: 0 0 12px;
}

@media screen and (min-width: 401px) and (max-width: 756px) {
  .card__heading {
    max-width: 352px;
  }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .card__heading {
    max-width: 288px;
  }
}