.cover__link {
  position: relative;
  max-width: 1184px;
  min-height: 740px;
  background-image: url("../../../images/cover.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #FFF;
  z-index: 0;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__link {
    min-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__link {
    min-width: 768px;
    min-height: 480px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__link {
    min-width: 320px;
    min-height: 200px;
  }
}