.footer__items {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

@media screen and (min-width: 275px) and (max-width: 400px) {
  .footer__items {
    flex-direction: column;
    justify-content: flex-start;
  }
}