.card__photo {
  max-width: 460px;
  object-fit: cover;
  grid-column: 1;
  grid-row: 2;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .card__photo {
    max-width: 440px;
  }
}

@media screen and (min-width: 401px) and (max-width: 768px) {
  .card__photo {
    max-width: 340px;
  }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .card__photo {
    max-width: 100%;
    min-height: 320px;
  }
}