@import url('./__logo/header__logo.css');
@import url('./__lang/header__lang.css');
@import url('./__lang/__lang-link/header__lang-link.css');
@import url('./__link/header__link.css');


.header {
  display: flex;
  justify-content: space-between;
  max-width: 984px;
  min-height: 44px;
  margin: 34px 148px 58px;
}

@media screen and (min-width: 1024px) and (max-width: 1179px) {
  .header {
    max-width: 928px;
    margin-bottom: 50px;
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
  .header {
    max-width: 720px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .header {
    max-width: 288px;
    margin-bottom: 50px;
  }
}