.lead__image {
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (min-width: 1001px) and (max-width: 1025px) {
  .lead__image {
    max-width: 928px;
  }
}

@media screen and (min-width: 401px) and (max-width: 1000px) {
  .lead__image {
    max-width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .lead__image {
    
  }
}