.card__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-column: 2;
  grid-row: 1;
}

@media screen and (min-width: 701px) and (max-width: 768px) {
  .card__website {
    max-width: 352px;
  }
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .card__website {
    display: none;
  }
}

