.intro__facts {
  margin-top: 32px;
  margin-bottom: 92px;
  max-width: 690px;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  padding: 0;
  list-style: none;
}

.intro__facts_distance::after {
  content: "3,644";
  font-weight: normal;
}

.intro__facts_time::after {
  content: "22";
  font-weight: normal;
}

.intro__facts_high::after {
  content: "9,613";
  font-weight: normal;
}

.intro__facts_low::after {
  content: "-3";
  font-weight: normal;
}