@import url('./__title/card__title.css');
@import url('./__photo/card__photo.css');
@import url('./__website/card__website.css');
@import url('./__heading/card__heading.css');
@import url('./__link/card__link.css');
@import url('./__text/card__text.css');

.card {
  margin-top: 80px;
  margin-left: 148px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 984px;
}

.card:first-child {
  margin-top: 0;
}